<h1 mat-dialog-title>New Holiday</h1>
<div mat-dialog-content>
  <form [formGroup]="inputForm">
    <div>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date">
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker> </mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" formControlName="title" />
      </mat-form-field>
      <mat-error class="text-danger" *ngIf="title.invalid && (title.dirty || title.touched) && title.errors?.['required']">
        Title is required
      </mat-error>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput type="text" formControlName="comment" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Quota</mat-label>
        <input matInput type="number" step="0.1" formControlName="effectOnQuotaInDays" />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [disabled]="!formValid" color="primary" [mat-dialog-close]="inputForm.value">Ok</button>
  </mat-dialog-actions>
</div>
