<h2>Vacation Planner</h2>
<mat-toolbar>
    <button mat-stroked-button (click)="newHoliday()">New Holiday</button>
    <button mat-stroked-button (click)="newVacation()">New Vacation</button>

    <span class="spacer"></span>
    <app-year-navigation (yearSelected)=" yearSelected($event)" [year]="currentYear"></app-year-navigation>
    <span class="spacer"></span>

</mat-toolbar>

<div class="calendar" *ngIf="response != null">
    <div class="column rowHead">&nbsp;</div>
    <div *ngFor="let month of response?.months;" class="column">
        <div class="tableHead">
            {{monthNames[month.month-1]}}
        </div>
    </div>

    <ng-container *ngFor="let day of dayNumbers">
        <div class="column rowHead">{{day}}</div>
        <div *ngFor="let month of response?.months;" class="column">
            <div *ngIf="day <= month.days.length" class="day" [ngClass]="{'saturday': month.days[day-1].weekDay === 6,
                                                                          'sunday': month.days[day-1].weekDay === 0,
                                                                          'holiday': month.days[day-1].kind === 'Holiday',
                                                                          'vacation': month.days[day-1].kind === 'Vacation',
                                                                          'today': year === todayYear
                                                                                && month.month === todayMonth
                                                                                && month.days[day-1].day === todayDay}">
                <span class="weekDay">{{month.days[day-1].weekDay| weekday }}</span> {{month.days[day-1].title}}
            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="response===null">
    <h2>Loading</h2>
    <div>
        <mat-spinner></mat-spinner>
    </div>
</div>
