@rowHeadWidth: 2%;
@columnWidth: (100%-@rowHeadWidth)*(1/12);

.calendar {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 1.1em;
    grid-template-columns: @rowHeadWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth @columnWidth;
    grid-auto-rows: 1.5em;

    .column {
        border: solid 1px #666;
        border-width: 0 0 1px 0;
        padding: 0;
        margin: 0;
    }

    .tableHead {
        text-align: center;
        font-weight: 500;
    }

    .rowHead {
        text-align: right;
        padding-right: 0.25em;
        font-size: 0.8em;
    }

    .day {
        margin: 0;
        text-wrap: nowrap;

        .weekDay {
            font-size: 0.8em;
            padding: 0 0.25em;
        }
    }

    .holiday {
        background: rgb(107, 0, 156);
    }

    .vacation {
        background: rgb(156, 141, 0);
    }

    .saturday {
        background: #424242;
    }

    .sunday {
        background: #222;
    }

    .today {
        background: rgb(36, 85, 36);
    }
}

mat-toolbar {
    .spacer {
        flex: 1 1 auto;
    }

    button {
        margin-right: 0.25em;
    }
}
