<h1 mat-dialog-title>New Vacation</h1>
<div mat-dialog-content>
  <form [formGroup]="inputForm">
    <div>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="inputForm" [rangePicker]="picker">
          <input matStartDate formControlName="from" placeholder="Start date">
          <input matEndDate formControlName="to" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="inputForm.controls['from'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="inputForm.controls['to'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput type="text" formControlName="comment" />
      </mat-form-field>
    </div>

    <div>
      <mat-label>Is requested</mat-label>
      <mat-checkbox matInput formControlName="isRequested" />
    </div>

    <div>
      <mat-label>Is approved</mat-label>
      <mat-checkbox matInput formControlName="isApproved" />
    </div>

    <div>
      <mat-form-field>
        <mat-label>Quota correction</mat-label>
        <input matInput type="number" step="0.1" formControlName="quotaCorrection" />
      </mat-form-field>
    </div>
  </form>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="inputForm.value">Ok</button>
  </mat-dialog-actions>
</div>
