.yearNavigation {
    display: table;

    button,
    .currentYear {
        display: inline-block;
    }

    .currentYear {
        font-size: 1.4em;
        padding: 0 1em;
        vertical-align: middle;
    }
}
