<div class="yearNavigation">
    <div>
        <button mat-button (click)="incrementAndEmit(-1)">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="currentYear">{{currentYear}}</div>
        <button mat-button (click)="incrementAndEmit(1)">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-button (click)="setTodayAndEmit()" style="margin-left: 1em;">
            Today
        </button>
    </div>
</div>
