<h1>Vacation Days {{year}}</h1>

<table mat-table [dataSource]="vacations" class="mat-elevation-z8">
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
    <td mat-cell *matCellDef="let v"> {{v.from}} </td>
  </ng-container>
  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
    <td mat-cell *matCellDef="let v"> {{v.to}} </td>
  </ng-container>
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef>Comment</th>
    <td mat-cell *matCellDef="let v"> {{v.comment}} </td>
  </ng-container>
  <ng-container matColumnDef="isRequested">
    <th mat-header-cell *matHeaderCellDef>Requested</th>
    <td mat-cell *matCellDef="let v"><mat-checkbox [checked]="v.isRequested" disabled></mat-checkbox></td>
  </ng-container>
  <ng-container matColumnDef="isApproved">
    <th mat-header-cell *matHeaderCellDef>Approved</th>
    <td mat-cell *matCellDef="let v"><mat-checkbox [checked]="v.isApproved" disabled></mat-checkbox></td>
  </ng-container>
  <ng-container matColumnDef="effectiveVacationDays">
    <th mat-header-cell *matHeaderCellDef>Effective Days</th>
    <td mat-cell *matCellDef="let v">{{v.effectiveVacationDays }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<h2>Quota</h2>

<p>{{remainingDays}} of {{quota}}</p>
