/* You can add global styles to this file, and also import other style files */

@import url(./styles/material-icons.css);
@import url(./styles/roboto.css);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}